@charset "utf-8";
/* CSS Document */

body {
	background-color:#2bb673;
	margin: auto;
	height: auto;
	font-size: 14px;
	font-family: 'Archivo Black', sans-serif;
	overflow-x: hidden;	
	/*font-family: 'Nunito', sans-serif;*/
}
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	display:block;
	cursor:pointer;
}
.mT0{
	margin-top: 0px !important;
}
.mR0 {
	margin-right: 0px !important;
}
.mB0 {
	margin-bottom: 0px !important;
}
.mL0{
	margin-left: 0px !important;
}
.pT0{
	padding-top: 0px !important;
}
.pR0 {
	padding-right: 0px !important;
}
.pB0{
	padding-bottom: 0px !important;
}
.pL0{
	padding-left: 0px !important;
}
ul, li {
	list-style: none;
}
img {
	border: none;
}
.clr {
	clear: both;
}
.main-container {
	width:650px;
	margin: auto;
	height: auto;
}

/* css for login page starts here*/
.top-header-links-wrapper{
	width:100%;
	margin:0 auto;
}
.top-header-links{
	background-color:#000;
	width:100%;
	display:block;
	margin-top:7%;
}
.top-header-links ul li{
	width:212px;
	display: inline-block;
	margin: 3% 0%;
	border-right: 1px solid white;
}
.top-header-links ul li a{
	display: inline-block;
	font-size: 26px;
	color: #d6d3d3;
	border-bottom: 2px solid transparent;
	margin: 0% 21.129%;
}
.top-header-links ul li a:hover{
	border-bottom:2px dotted white;
}
.top-header-links ul li:nth-last-child(1){
	border-right:none;
}


/*content starts here*/
.content-wrapper{
	width: 80%;
    margin: 0 auto;
	background-color:#283589;
}
.sign-in-wrapper{
	width: 75%;
    margin: 0 auto;
}
.sign-in-heading{
	font-size: 26px;
	color: white;
	font-weight: normal;
	text-align: center;
	padding: 6% 0%;
}
.input-email{
	width: 93%;
	padding: 3% 2% 3% 5%;
	font-size: 25px;
	font-weight: bold;
	color: #ccc;
	margin-bottom: 6%;
	border: none;
	outline: none;
}
.password-forget-password{
	width: 100%;
    background-color: #fff;
	margin-bottom: 6%;
}
.input-type-password{
	border: none;
	background-color: #fff;
	display: inline-block;
	width: 56%;
	padding: 3% 1% 2% 5%;
	font-size: 26px;
	font-weight: bold;
	color: #ccc;
	outline: none;
}
.forget-password{
	display: inline-block;
	color: #1a92a4;
	text-decoration: underline;
	font-weight: normal;
	word-spacing: 2px;
	font-family: verdana;
	padding-bottom: 4%;
}
.checkbox-span{
	width:100%;
	padding-bottom: 6%;
}
/*input[type="checkbox"]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}*/
input[type="checkbox"]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform:scale(2);
  padding: 10px;
  background:transparent;
  border:none;
  margin-left:2%;
  margin-right: 4%;
  display: inline-block;
}
.remember-me{
	color:#d6d3d3;
	font-size: 20px;
}


/*login-btn and signup btn here*/
.login-signup-btn{
	width:100%;
	/*display:block;*/
	background-color:#5d5b5b;
	float:left;
	margin-bottom: 10%;
}
.login-btn{
	/*display:inline-block;*/
	margin: 9% 0%;
	float:left;
	width: 210px;
}
.login-btn a{
	font-size: 20px;
	color: black;
	background-color: rgb(255, 255, 255);
	padding: 4.5% 6%;
	width:100%;
	text-align: center;
	/*display: inline-block;*/
	margin-right: 7%;
	float:left;
}
.sign-up-btn{
	/*display:inline-block;*/
	margin: 9% 0%;
	float:right;
	width: 106px;
}
.sign-up-btn a{
	font-size: 20px;
	color: #fff;
	background-color: #000;
	padding: 10% 6%;
	width:100%;
	text-align: center;
	/*display: inline-block;*/
	float:right;
}


/*--------------------------menu page css starts here----------------------------*/
.top-narrow-header-wrapper{
	width: 99.122%;
    padding: 3px 6px;
    background-color: #000;
}
.top-narrow-header-inner{
	width:100%;
	background-color:#283589;
	padding-bottom:3%;
}
.menu-content-wrapper{
	width:100%;
}
.menu-content-left-aside-wrapper{
	float:left;
	width:43%;
	background-color:#283589;
}
.menu-content-left-aside{
	float: right;
    width: 84%;
    padding-right: 1%;
	height: 657px;
}
.border-dashed-top{
	border-bottom:2px dashed #fff;
	margin-bottom:2px;
}
.border-dashed-bottom{
	border-bottom:2px dashed #fff;
}
.menu-content-heading{
	width: 100%;
	text-align: center;
	line-height: 1.5em;
	font-size: 16px;
	font-weight: bold;
	margin: 4% 0% 12% 0%;
	font-family: 'Archivo Black', sans-serif;
}
.menu-content-heading h3{
	letter-spacing: 6px;
}
.menu-content-left-aside-link{
	padding: 9% 0%;
}
.menu-content-left-aside-link a{
	color:#fff;
}
.menu-content-left-aside-link h1{
	letter-spacing:3px;
}
	

/*------------menu content right aside wrapper-----------*/
.menu-content-right-aside-wrapper{
	width:57%;
	float:right;
	background-color:#fff;
	height:657px;
}
.green-stripe{
	width:100%;
	padding-bottom:7.5%;
	background-color:#2bb673;
}
.menu-content-right-aside-detail-wrapper{
	width: 79%;
    float: left;
    margin: 8% 5% 0% 16%;
}
.menu-content-right-aside-detail{
	width: 43%;
    float: left;
    margin-right: 14%;
}
.menu-content-right-aside-top-detail{
	width: 86%;
	float: left;
	background-color: #f56868;
	padding: 7% 7%;
}
.menu-content-right-aside-top-detail p{
	color: #fff;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}
.menu-content-right-aside-sub-detail{
	text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    float: left;
    width: 100%;
}
.TA-L{
	text-align:left;
}
.extra-H{
	height: 115.53px;
}



/*--------------------------hotel page css starts here----------------------------*/
.top-narrow-header-wrapper {
	width: 99.122%;
    padding: 3px 6px;
    background-color: #000;
}
.top-narrow-header-inner {
	width:100%;
	background-color:#283589;
	padding-bottom:3%;
}
.hotel-content-wrapper {
	width:100%;
}

.hotel-content-left-aside-wrapper {
	float: left;
	margin: 0%;
	padding: 0%;
	width: 16%;
	background-color: #fff;
	text-align: center;
}
.hotel-content-left-aside{
	float: right;
    width: 100%;
	height: 900px;
}

.hotel-content-heading{
	width: 100%;
    text-align: center;
    text-transform: uppercase;
	line-height: 28px;
    font-size: 25px;
    font-weight: bolder;
    padding: 20% 0% 2% 0%;
    font-family: 'Syncopate', sans-serif;
    color: #000;
}	
.hotel-img-resize{
	width: 145px;
	margin:0 auto;
}
.hotel-img-resize img{
	max-width:100%;
}
.LW-img{
	width: 80px !important;
}
.hotel-content-heading h3{
	letter-spacing: 0px;
}

.green-stripe-text{
	padding: 2% 0% 2% 1.8%;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	font-size: 18px;
	font-family: 'Syncopate', sans-serif;
}

.hotel-content-left-aside-link{
	padding: 0% 0% 10% 0%;
    background-color: #d6d3d3;
}
.active-hotel{
	background-color: #fff !important;
}
.hotl-content-left-aside-link a{
	color:#fff;
}
.hotel-content-left-aside-link h1{
	letter-spacing: -1px;
	line-height: 1em;
}
	

/*------------hotel content right aside wrapper-----------*/
.hotel-content-right-aside-wrapper{
	display: inline-block;
	width: 84%;
	float: left;
	margin: 0%;
	padding: 0% 0%;
	height: 900px;
	background-color: #fff;
}
.green-stripe{
	width:100%;
	padding-bottom:0%;
	background-color:#2bb673;
}
.hotel-content-right-aside-detail-wrapper{
	width: 85%;
	float: left;
	margin: 6% 5% 0% 10%;
}
.hotel-content-right-aside-detail{
	width: 27%;
	float: left;
	margin-right: 9.5%;
}
.hotel-content-right-aside-top-detail{
	width: 90%;
	float: left;
	background-color: #f56868;
	padding: 7% 7%;
}
.hotel-content-right-aside-top-detail p{
	color: #fff;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}
.hotel-content-right-aside-sub-detail{
	text-align: center;
    margin-top: 5%;
    font-size: 23px;
    font-weight: bold;
    color: #000;
    float: left;
    width: 100%;
}

.TA-L{
	text-align:left;
}

.extra-H{
	height: 140px;
}

.PL{
	padding-left: 6%;
		
}

.prioroty-text-heading {
	margin: 0%;
	padding: 6% 0% 10% 0%;
	float: left;
	font-size: 16px;
}

.hotel-content-right-aside-prioroty-wrapper {
	margin-left: 11%;
	display: inline-block;
}

.hotel-content-right-aside-prioroty-text {
	font-size: 16px;
	line-height: 1.3em;
	padding: 10% 0% 0% 8%;
}

.text-green { 
	color: #2bb673 !important; 
}
		
.text-red{ color: #F00 !important; }
	
.text-bold { font-weight: bold; }	


/*--------------media queries starts here---------------*/
@media only screen and (max-width: 1024px) {
/*--------------media queries menu page-------------*/
.menu-content-left-aside-wrapper {
	width: 40%;
}

.menu-content-left-aside {
    width: 82%;
}

.menu-content-heading {
	font-size: 14px;
}

.menu-content-heading h3 {
    letter-spacing: 5px;
}

.menu-content-left-aside-link a {
    font-size: 12px;
}

.menu-content-right-aside-wrapper {
    width: 60%;
}

.menu-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 12%;	
}

.menu-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.menu-content-right-aside-top-detail p {
    font-size: 22px;
}

.extra-H {
    height: 120px;
}

.menu-content-right-aside-sub-detail {
    font-size: 19px;
}
/*--------------media queries hotel page-------------*/
.green-stripe-text {
    padding: 2% 0% 2% 1.8%;
    letter-spacing: 1px;
    font-size: 18px;
}
 
.hotel-content-left-aside-wrapper {
	width: 18%;
}

.hotel-content-left-aside {
    width: 100%;
}

.hotel-content-heading {
	font-size: 22px;
}

.hotel-img-resize {
    width: 130px;
}

.LW-img {
    width: 80px !important;
}

.hotel-content-left-aside-link a {
    font-size: 12px;
}

.hotel-content-right-aside-wrapper {
    width: 82%;
}

.hotel-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 12%;	
}

.hotel-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.hotel-content-right-aside-top-detail p {
    font-size: 19px;
}

.hotel-content-right-aside-sub-detail {
    font-size: 18px;
}

.prioroty-text-heading {
      font-size: 14px;
}

.hotel-content-right-aside-prioroty-text {
    font-size: 15px;
}


}

@media only screen and (max-width: 768px) {
/*--------------media queries menu page-------------*/
.menu-content-left-aside-wrapper {
	width: 37%;
}

.menu-content-left-aside {
    width: 82%;
}

.menu-content-heading {
	font-size: 11px;
}

.menu-content-heading h3 {
    letter-spacing: 3px;
}

.menu-content-left-aside-link a {
    font-size: 9px;
}

.menu-content-right-aside-wrapper {
    width: 63%;
}

.menu-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 10%;	
}

.menu-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.menu-content-right-aside-top-detail p {
    font-size: 17px;
}

.extra-H {
    height: 100px;
}

.menu-content-right-aside-sub-detail {
    font-size: 16px;
}
/*--------------media queries hotel page-------------*/
.green-stripe-text {
    padding: 2% 0% 2% 1.8%;
    letter-spacing: 0px;
    font-size: 12px;
}
 
.hotel-content-left-aside-wrapper {
	width: 15%;
}

.hotel-content-left-aside {
    width: 100%;
}

.hotel-content-heading {
	font-size: 14px;
}

.hotel-img-resize {
    width: 80px;
}

.LW-img {
    width: 65px !important;
}

.hotel-content-left-aside-link a {
    font-size: 12px;
}

.hotel-content-right-aside-wrapper {
    width: 85%;
}

.hotel-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 12%;	
}

.hotel-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.hotel-content-right-aside-top-detail p {
    font-size: 15px;
}

.hotel-content-right-aside-sub-detail {
    font-size: 14px;
}

.prioroty-text-heading {
      font-size: 11px;
	  padding: 4% 0% 7% 0%;
}

.hotel-content-right-aside-prioroty-text {
    font-size: 11px;
	padding: 4% 0% 0% 8%;
}


}


@media only screen and (max-width: 554px) {
/*--------------media queries login page-------------*/
.main-container {
	width: 95%;	
}

.top-header-links ul li {
    width: 166px;
}

.top-header-links ul li a {
	font-size: 18px;
	margin: 0% 25%;	
}

.sign-in-heading{
	font-size: 20px;
}

.input-email {
	font-size: 22px;
}

.input-type-password {
	width: 52%;
	font-size: 22px;	
}

.forget-password {
    font-size: 14px;
}

.login-btn {
	width: 160px;
}

.login-btn a {
	font-size: 18px;
}

.sign-up-btn a {
	font-size: 18px;
	padding: 7% 6%;
}
/*--------------media queries menu page-------------*/
.menu-content-left-aside-wrapper {
	width: 37%;
}

.menu-content-left-aside {
    width: 82%;
}

.menu-content-heading {
	font-size: 9px;
}

.menu-content-heading h3 {
    letter-spacing: 1px;
}

.menu-content-left-aside-link {
    padding: 10% 0%;
}

.menu-content-left-aside-link a {
    font-size: 6px;
}

.border-dashed-top {
    border-bottom: 1px dashed #fff;
    margin-bottom: 2px;
}

.border-dashed-bottom {
    border-bottom: 1px dashed #fff;
    margin-bottom: 2px;
}

.menu-content-right-aside-wrapper {
    width: 63%;
}

.menu-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 10%;	
}

.menu-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 5%;
}

.menu-content-right-aside-top-detail p {
    font-size: 11px;
}

.extra-H {
    height: 60px;
}

.menu-content-right-aside-sub-detail {
    font-size: 11px;
}

/*--------------media queries hotel page-------------*/
.green-stripe-text {
    padding: 2% 0% 2% 1%;
    letter-spacing: 0px;
    font-size: 9.5px;
}
 
.hotel-content-left-aside-wrapper {
	width: 15%;
}

.hotel-content-left-aside {
    width: 100%;
}

.hotel-content-heading {
	font-size: 10px;
}

.hotel-content-left-aside-link h1 {
    letter-spacing: 0px;
    line-height: 1em;
}

.hotel-img-resize {
    width: 60px;
}

.LW-img {
    width: 45px !important;
}

.hotel-content-right-aside-wrapper {
    width: 85%;
}

.hotel-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 9%;	
}

.hotel-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 9%;
}

.hotel-content-right-aside-top-detail p {
    font-size: 10px;
}

.hotel-content-right-aside-sub-detail {
    font-size: 10px;
}

.prioroty-text-heading {
      font-size: 9px;
	  padding: 4% 0% 7% 0%;
}

.hotel-content-right-aside-prioroty-text {
    font-size: 9px;
	padding: 4% 0% 0% 8%;
}


}

@media only screen and (max-width: 480px) {
/*--------------media queries login page-------------*/
.main-container {
	width: 90%;	
}

.top-header-links ul li {
    width: 140px;
}

.top-header-links ul li a {
	font-size: 15px;
	margin: 0% 20%;	
}

.sign-in-heading{
	font-size: 16px;
}

.input-email {
	font-size: 18px;
}

.input-type-password {
	width: 50%;
	font-size: 18px;	
}

.forget-password {
    font-size: 12px;
}

input[type="checkbox"] {
	transform: scale(1.5);
}

.remember-me {
    font-size: 19px;
}

.login-btn {
	width: 122px;	
}

.login-btn a {
	font-size: 16px;
}

.sign-up-btn {
	width: 85px;	
}

.sign-up-btn a {
	font-size: 16px;
	padding: 7% 5%;
}

/*--------------media queries menu page-------------*/
.menu-content-left-aside-wrapper {
	width: 37%;
}

.menu-content-left-aside {
    width: 82%;
}

.menu-content-heading {
	font-size: 8px;
}

.menu-content-heading h3 {
    letter-spacing: 0px;
}

.menu-content-left-aside-link {
    padding: 10% 0%;
}

.menu-content-left-aside-link a {
    font-size: 5px;
}

.border-dashed-top {
    border-bottom: 1px dashed #fff;
    margin-bottom: 2px;
}

.border-dashed-bottom {
    border-bottom: 1px dashed #fff;
    margin-bottom: 2px;
}

.menu-content-right-aside-wrapper {
    width: 63%;
}

.menu-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 10%;	
}

.menu-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.menu-content-right-aside-top-detail p {
    font-size: 10px;
}

.extra-H {
    height: 55px;
}

.menu-content-right-aside-sub-detail {
    font-size: 10px;
}
/*--------------media queries hotel page-------------*/
.green-stripe-text {
    padding: 2% 0% 2% 1%;
    letter-spacing: 0px;
    font-size: 8px;
}
 
.hotel-content-left-aside-wrapper {
	width: 15%;
}

.hotel-content-left-aside {
    width: 100%;
}

.hotel-content-heading {
	font-size: 8px;
}

.hotel-content-left-aside-link h1 {
    letter-spacing: 0px;
    line-height: 1em;
}

.hotel-img-resize {
    width: 50px;
}

.LW-img {
    width: 35px !important;
}

.hotel-content-right-aside-wrapper {
    width: 85%;
}

.hotel-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 9%;	
}

.hotel-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 9%;
}

.hotel-content-right-aside-top-detail p {
    font-size: 8px;
}

.hotel-content-right-aside-sub-detail {
    font-size: 8px;
}

.prioroty-text-heading {
      font-size: 7px;
	  padding: 4% 0% 7% 0%;
}

.hotel-content-right-aside-prioroty-text {
    font-size: 7px;
	padding: 4% 0% 0% 8%;
}


}

@media only screen and (max-width: 360px) {
/*--------------media queries login page-------------*/
.main-container {
	width: 90%;	
}
.top-header-links ul li {
    width: 104px;
}
.top-header-links ul li a {
	font-size: 12px;
    margin: 0% 23%;
}

.sign-in-heading{
	font-size: 12px;
}

.input-email {
	font-size: 14px;
}

.input-type-password {
	width: 48%;
	font-size: 14px;	
}

.forget-password {
    font-size: 9px;
	padding-bottom: 5%;
}

input[type="checkbox"] {
	transform: scale(1.2);
}

.remember-me {
    font-size: 12px;
}

.login-btn {
	width: 88px;	
}

.login-btn a {
	font-size: 12px;
}

.sign-up-btn {
	width: 70px;	
}

.sign-up-btn a {
	font-size: 12px;
	padding: 7% 5%;
}

/*--------------media queries menu page-------------*/
.menu-content-left-aside-wrapper {
	width: 37%;
}

.menu-content-left-aside {
    width: 82%;
}

.menu-content-heading {
	font-size: 7px;
}

.menu-content-heading h3 {
    letter-spacing: 0px;
}

.menu-content-left-aside-link {
    padding: 10% 0%;
}

.menu-content-left-aside-link a {
    font-size: 4.5px;
}

.border-dashed-top {
    border-bottom: 1px dashed #fff;
    margin-bottom: 1.5px;
}

.border-dashed-bottom {
    border-bottom: 1px dashed #fff;
    margin-bottom: 1.5px;
}

.menu-content-right-aside-wrapper {
    width: 63%;
}

.menu-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 10%;	
}

.menu-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 10%;
}

.menu-content-right-aside-top-detail p {
    font-size: 7px;
}

.extra-H {
    height: 38px;
}

.menu-content-right-aside-sub-detail {
    font-size: 7px;
}
/*--------------media queries hotel page-------------*/
.green-stripe-text {
    padding: 2% 0% 2% 1%;
    letter-spacing: 0px;
    font-size: 6px;
}
 
.hotel-content-left-aside-wrapper {
	width: 15%;
}

.hotel-content-left-aside {
    width: 100%;
}

.hotel-content-heading {
	font-size: 6px;
}

.hotel-content-left-aside-link h1 {
    letter-spacing: 0px;
    line-height: 1em;
}

.hotel-img-resize {
    width: 40px;
}

.LW-img {
    width: 26px !important;
}

.hotel-content-right-aside-wrapper {
    width: 85%;
}

.hotel-content-right-aside-detail-wrapper{
	width: 80%;
    margin: 8% 0% 0% 9%;	
}

.hotel-content-right-aside-top-detail {
    width: 90%;
    padding: 7% 9%;
}

.hotel-content-right-aside-top-detail p {
    font-size: 6.5px;
}

.hotel-content-right-aside-sub-detail {
    font-size: 6.5px;
}

.prioroty-text-heading {
      font-size: 6px;
	  padding: 4% 0% 7% 0%;
}

.hotel-content-right-aside-prioroty-text {
    font-size: 6px;
	padding: 2% 0% 0% 8%;
}



}

















